<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Rob Alonzi Testing environment">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS Testing Environment w/server</title>
  </head>
  <body>
    <main id="root">
      Handlebars
    </main>
    <script src="/build/vendor.js" type="text/javascript"></script>
    <script src="/build/application.js" type="text/javascript"></script>
  </body>
</html>
